.backBtn {
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
}

.submitBtn {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.modifyBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.modifyBtn {
  width: 49%;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0px;
}

.title > input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  border-radius: 5px;
  transition: background-color 0.5s;
  border: none;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px 0px;
}

.content > textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 5px;
  transition: background-color 0.5s;
  border: none;
}
